/* Side Navigation */
.m-aside-menu > .m-menu__nav > .m-menu__section:first-of-type{
  margin: 0;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__section .m-menu__section-text{
  color: #8c8ea4;
}

.m-aside-menu .router-link-exact-active .m-menu__link-text,
.m-aside-menu .router-link-exact-active .m-menu__link-icon,
.m-aside-menu .router-link-active .m-menu__link-text,
.m-aside-menu .router-link-active .m-menu__link-icon{
  color: #ced4d8 !important;
}

/* Top Navigation */
.m-header .m-menu__nav>.m-menu__item,
.m-header .m-nav.m-nav--inline>.m-nav__item{
    transition: all 0.1s ease-in-out;
}
.m-header .m-menu__nav>.m-menu__item:hover,
.m-header .m-nav.m-nav--inline>.m-nav__item:hover {
  background: #f8f9fa;
}

/* Sub Header */
.m-subheader .m-subheader__breadcrumbs .m-nav__link-icon {
  width: auto !important;
}